html{
  width: 100%;
  }
  body{
  background-color: white;
    background-size: cover;
  background-repeat: no-repeat;
  }
  #header .navbar-toggler{
    color:white;
    background-color: #6D6666;
    margin-left: 35px;
  }
  #header .navbar {
    background-color: #F3FFB6;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-top-style: solid;
    border-top-color: black;
    padding-left: 120px;
    font-family: 'Playfair Display', serif;
  }
  #header .navbar-brand {
    font-size: 20px;
    font-family: 'Playfair Display', serif;}
  #header .nav-btn{
    list-style-type: none;
    margin-right:100px ;
  }
  #header .nav-link {
    font-size: 20px;
        display: inline-block;
        padding: 0.5em;
        background-color: transparent;
        color: #E7DCBA;
        border-color: black;
        margin-left:5px ;
        border-radius: 6px;
    }
  #header ul a:hover{
    background-color: transparent;
  }
  #header li{display:inline-block;min-width:50px;}
  
  #header li a:after {/*css pour faire apparaitre animation sous les catégories du menu*/
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  #header li a:hover:after {
    width: 90%;
    background: #444;/*fin css animation menu*/
  }
  
  #header li {
    color: black;
   margin-left:15px;
  }
  #header a{
    color: black; 
  }
  #header .navbar-dark .navbar-nav .nav-link i{/* couleur incon panier*/
    color: black;
  }
  .conteneur #logo{/* taille logo assiya coiffure banniére*/
  width: 300px;
  height:150px
  }
  .conteneur{/* centre logo dans banniére et colore la banniére*/
    text-align: center;
    background-color: #BDEDE0;
  }
  #header #btn-rdv,#header #btn-connexion, #header #btn-inscription {
    color:white;
    font-weight: bold;
  }


  #pageFicheProduct .imgProduct{
    border-radius: 5px;
  }
   .back{
    margin-bottom: 30px;
  }
  #pageFicheProduct #img1{
    width: 500px;
    height:500px
  }
  #pageFicheProduct .container-fluid{
    margin-top: 100px;
    padding-bottom: 50px;
    color: #6D6666;
    font-family: 'Times New Roman', Times, serif;
  
  }
  #pageFicheProduct h1, h4{
    text-align: center;
  }
  #pageFicheProduct h2{
    padding-top: 70px;
    text-align: center;
    color: #000;
  }
  #pageFicheProduct #ref{
    text-align: center;
  }
  #pageFicheProduct #price{
    font-size: 30px;
    text-align: center;
  }
  #pageFicheProduct hr{
    margin-top: 35px;
    margin-bottom: 35px;
  }
  #pageFicheProduct .container-fluid{
    padding-bottom: 0px;
  }
  #pageFicheProduct .productDescription{
    padding-top: 30px;
  }
  /*styliser balise select*/
  #pageFicheProduct select{
    background : white;
    border : 1px solid black;
    padding : 3px;
    width: 100%;
    margin-bottom:30px ;
    }
  /*styliser bouton ajouter au panier*/
  #pageFicheProduct .ajouter {
      width: 100%;
    border: 1px solid black;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: black;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
  }
  
  #pageFicheProduct .ajouter:hover {
    background-color: #F3FFB6;
  }
  
  #pageFicheProduct .ajouter:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }
  #pageFicheProduct .info{
  box-shadow: 2px 3px 2px 3px #888888;
  background-color:#DEF7F1 ;
 }
 #pageFicheProduct .productDescription{
    background-color: #A1CEC0;
    height: 400px;
 }
/*--------------------------------------------------------------------------------------CSS footer ( body = pagefooter )*/
#pagefooter  {
  width: 100%;
  position:absolute;
  height: auto;
  background-color: #BDEDE0;
  color: #000;
  border-top-style:  solid ;
  border-top-color: black;
  margin-top: 0px;
}
#pagefooter #logofooter {
  width:300px;
  height:150px;
  margin-top: 120px;
  text-align: center;
  margin-left: 15px;
}
#pagefooter .row{
height:auto;
}

#pagefooter .colFooter1{
margin-top: 50px;
}
#pagefooter .colFooter2{
  margin-top: 50px;
}
#pagefooter .colFooter3{
  background-color: #BDEDE0;
  margin-top: 50px;
}
#pagefooter p .contact-info{
  font-size: 19px;
}
#pagefooter .footer-heading {
  letter-spacing: 2px;
  font-size: 24px;
  color: #000;
}
#pagefooter .footer-link a {
  color: black;
  line-height: 40px;
  font-size: 19px;
  transition: all 0.5s;
}
#pagefooter .footer-link a:hover {
  color: #8d1974;
}
#pagefooter .contact-info {
  color: black;
  font-size: 24px;
}
#pagefooter i .iconSocial{
  width: 50px;
  height: 50px;
}
#pagefooter .footer-social-icon {
  font-size: 15px;
  height: 50px;
  width: 50px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}
#pagefooter .facebook {
  background-color: #4e71a8;
  color: #ffffff;
  padding-top: 7px;
}
#pagefooter .instagram {
  background-color: #55acee;
  color: #ffffff;
  padding-top: 7px;
}
#pagefooter .footer-alt {
  color: black;
}
  #pagefooter .footer-heading {
      position: relative;
      padding-bottom: 12px;
  }
#pagefooter .footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #8d1974;
}
#pagefooter ul.list-inline{
  text-align: center;
}